* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  color: #717275;
  font-size: 20px;
  font-weight: 300;
}

ul li {
  color: #717275;
  font-size: 20px;
  font-weight: 300;
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: #BC6C25;
  text-decoration: none !important;
}

a:hover {
  color: #E76F51;
}

b,
strong {
  font-weight: 700;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: #b78752;
}

.section-overlay {
  background-color: #000000;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
  z-index: 22;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: #BC6C25;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s;
  padding: 12px 28px;
  text-decoration: none;
}

.custom-btn:hover {
  background: #DDA15E;
  color: #ffffff;
}

.custom-border-btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.custom-border-btn:hover {
  background: #ffffff;
  color: #DDA15E;
}

.custom-btn-bg-white {
  border-color: #ffffff;
  color: #ffffff;
}

.custom-btn-italic {
  font-style: italic;
}

.provider-name {
  text-decoration: none;
  color: #BC6C25;
}

/*---------------------------------------
  NAVIGATION BAR & OFFCANVAS              
-----------------------------------------*/
#sticky-wrapper {
  height: 154px;
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
}
#sticky-wrapper .navbar {
  background: transparent;
  z-index: 999999;
  padding-top: 30px;
  padding-bottom: 30px;
}
#sticky-wrapper .navbar .container {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  padding: 15px 30px;
}
#sticky-wrapper .navbar-brand {
  font-size: 28px !important;
  font-weight: 700 !important;
  display: block !important;
  color: #ffffff !important;
}
#sticky-wrapper .navbar-brand:hover {
  color: #DDA15E !important;
}
#sticky-wrapper .navbar-brand img {
  width: 48px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
  filter: brightness(0) invert(1);
}
#sticky-wrapper .navbar-brand span {
  vertical-align: middle;
}
#sticky-wrapper .navbar-toggle-btn {
  display: none;
  color: #ffffff;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 28px;
}
#sticky-wrapper #navbarNav .navbar-expand-lg .navbar-nav .nav-link {
  border-radius: 100px;
  margin: 10px;
  padding: 10px;
}
#sticky-wrapper #navbarNav .navbar-nav .nav-link {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
#sticky-wrapper #navbarNav .navbar-nav .nav-link.active,
#sticky-wrapper #navbarNav .navbar-nav .nav-link:hover {
  color: #DDA15E;
}
#sticky-wrapper .custom-btn {
  padding: 10px 20px;
  text-decoration: none;
}

/*---------------------------------------
  header        
-----------------------------------------*/
.header-section {
  background-image: url("../images/cafe-glass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  min-height: 620px;
  text-align: center;
}
.header-section:after {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%) rotate(45deg);
  width: 250px;
  height: 350px;
  pointer-events: none;
}
.header-section h1 {
  color: #ffffff;
  font-size: 68px;
}
.header-section .small-text {
  color: #DDA15E;
}
.header-section .container {
  position: relative;
  z-index: 999;
}

/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  background-color: #4D3821;
}
.about-section-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .about-img-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgb(188, 108, 37));
  border-radius: 20px;
  bottom: 0;
  height: auto;
  padding: 40px;
}
.about-section .about-img-info h4 {
  color: #ffffff;
}

/*---------------------------------------
  OUR MENU              
-----------------------------------------*/
.menu-section {
  background-image: url("/images/happy-waitress.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.menu-section .menu-block-wrap {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  padding: 45px;
}
.menu-section .menu-block .border-top {
  border-top-color: rgba(255, 255, 255, 0.35) !important;
}
.menu-section .menu-block h6 {
  color: #ffffff;
}
.menu-section .menu-block small {
  color: rgba(255, 255, 255, 0.35);
}
.menu-section .menu-block strong {
  color: #DDA15E;
}
.menu-section .menu-block .badge {
  background-color: #BC6C25;
  font-size: 12px;
  position: relative;
  bottom: 4px;
  padding-bottom: 6px;
}
.menu-section .menu-block .badge:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #BC6C25;
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background-color: #7c5c52;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgb(188, 108, 37));
}
.contact-section .custom-form .form-control {
  color: #717275;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: none;
  outline: none;
  transition: all 0.3s;
}
.contact-section .custom-form .form-control:hover, .contact-section .custom-form .form-control:focus {
  background: #BC6C25;
  border-color: transparent;
}
.contact-section .custom-form .form-label {
  color: #ffffff;
  font-style: italic;
  margin-bottom: 15px;
}
.contact-section .custom-form button[type=submit] {
  background: #BC6C25;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  margin-bottom: 0;
}
.contact-section .custom-form button[type=submit]:hover, .contact-section .custom-form button[type=submit]:focus {
  background: #ffffff;
  border-color: transparent;
  color: #BC6C25;
}
.contact-section .custom-form input::-webkit-input-placeholder,
.contact-section .custom-form textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.contact-section .contact-form .form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
}
.contact-section .google-map {
  border-radius: 20px;
  filter: grayscale(100);
}

/*---------------------------------------
    SITE FOOTER              
  -----------------------------------------*/
.site-footer {
  background-color: #BC6C25;
  padding-top: 100px;
  padding-bottom: 100px;
}
.site-footer strong {
  color: #ffffff;
  font-weight: 700;
}
.site-footer p,
.site-footer .site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.site-footer .site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  transition: all 0.3s;
}
.site-footer .site-footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline !important;
}
.site-footer .opening-hours-list {
  margin: 0;
  padding: 0;
}
.site-footer .opening-hours-list li {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.site-footer .opening-hours-list li .underline {
  background-color: rgba(255, 255, 255, 0.75);
  width: 35%;
  height: 1px;
  margin: auto 15px 0 15px;
}

/*---------------------------------------
    SOCIAL ICON               
  -----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}
.social-icon .social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.social-icon .social-icon-link {
  background: #BC6C25;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}
.social-icon .social-icon-link:hover {
  background: #ffffff;
  color: #BC6C25;
}
.social-icon .social-icon-link span {
  display: block;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.copyright-text a {
  color: #4D3821;
  font-weight: 400;
}
.copyright-text a:hover {
  font-weight: 700;
}

@media screen and (min-width: 991px) {
  .header-section {
    height: 100vh;
  }
}/*# sourceMappingURL=main.css.map */